<!-- <div>
    <nav class="menu" tabindex="0">
        <div class="smartphone-menu-trigger"></div>
        <header class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
            <h2>John D.</h2>
        </header>
        <ul>
            <li tabindex="0" class="icon-dashboard" [routerLink]="['']"><span>Home</span></li>
            <li tabindex="0" class="icon-dashboard" [routerLink]="['/dardboard']"><span>Dashboard</span></li>
            <li tabindex="0" class="icon-customers" [routerLink]="['/user']"><span>Customers</span></li>
            <li tabindex="0" class="icon-users" [routerLink]="['/product']"><span>Users</span></li>
            <li tabindex="0" class="icon-settings" [routerLink]="['/setting']"><span>Settings</span></li>
            <li tabindex="0" class="icon-settings" (click)="logout()"><span>Logout</span></li>
        </ul>
    </nav>
</div> -->

<div class="component-menu-left">
    <div class="title-main">Menu Left</div>
    <div class="box-scroll">

      <div class="infor-user">
          <div class="box-name" (click)="showDetailUser()">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg"/>
              <span class="user-name">Trung DV</span>
              <span class="glyphicon glyphicon-chevron-{{detailUser ? 'up' : 'down'}} icon-right"></span>
          </div>
          <div class="box-infor">
              <div class="custom-main">
                  <span class="short-name">MP</span>
                  <span class="full-name">My Profile</span>
              </div>
              <div class="custom-main">
                  <span class="short-name">EP</span>
                  <span class="full-name">Edit Profile</span>
              </div>
              <div class="custom-main">
                  <span class="short-name">S</span>
                  <span class="full-name">Settings</span>
              </div>
          </div>

      </div>
      <div class="list-data">
          <div *ngFor="let data of listData">
              <div class="custom-main" (click)="showDetailTab(data)">
                  <img class="short-name" src="assets/images/{{ data.img }}"/>
                  <span class="full-name">{{ data.tab }}</span>
                  <span *ngIf="data.child" class="glyphicon glyphicon-chevron-{{data.show ? 'up' : 'down'}} icon-right"></span>
              </div>
              <div class="list-item" id="listItem{{data.id}}" *ngIf="data.child">
                  <div class="custom-main custom-main-child" *ngFor="let item of data.child">
                      <span class="short-name">{{ item.short }}</span>
                      <span class="full-name">{{ item.tab }}</span>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>

