.component-menu-left {
    color: white;
        .title-main {
            font-size: 20px;
            text-transform: uppercase;
            height: 60px;
            border-bottom: 1px solid #738cff;
            line-height: 60px;
            margin: 0 20px;
            padding-left: 12px;
        }
        .box-scroll {
            padding: 20px;
            overflow-y: auto;
            height: calc(100vh - 60px);
        }
        .infor-user {
            border-bottom: 1px solid #738cff;
            margin-bottom: 12px;
            .box-name {
                position: relative;
                height: 60px;
                line-height: 60px;
                cursor: pointer;
                img {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    position: absolute;
                    left: 12px;
                    top: 12px;
                }
            }
            .user-name {
                margin-left: 60px;
            }
            .box-infor {
                display: none;
            }
            .icon-right {
                top: 24px;
            }

        }
        .custom-main {
            height: 50px;
            line-height: 50px;
            position: relative;
            cursor: pointer;
            margin: 4px 0;
            .short-name {
                position: absolute;
                left: 12px;
            }
            img.short-name {
                top:16px;
                width: 24px;
            }
            .full-name {
                margin-left: 48px;
            }
            .icon-right {
                top: 18px;
            }
        }
        .custom-main:focus, .custom-main:hover {
            outline: none;
            background-color: #4162ff;
        }
        .list-item {
            display: none;
        }
        .icon-right {
            position: absolute;
            right: 0;
            font-size: 10px;
        }
        .custom-main-child {
            height: 44px;
            line-height: 44px;
        }
}

